/*
page_footer
*/
#page_footer {
    color: #2c241d;
    background: linear-gradient(
        to top,
        #484038 0%,
        #89786b 40%,
        #f4f0e8 100%
    );
}

#page_footer_info_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    bottom: 0;
    font-weight: 500;
}

.page_footer_info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.main-logo{
    font-size: 1.5rem;
    font-weight: 700;
}
.page_footer_info address p{
    font-size: 1.1rem;
}

#page_footer_nav {
    text-align: left;
    font-size: 1.1rem;
    font-weight: 600;
}

.nav-v {
    writing-mode: vertical-lr;
    line-height: 60px;
    margin-bottom: 20px;
}
.nav-v a{
    transition: all 0.4s ease;
}
.nav-v a:hover{
    color: #f4f0e8;
}

.nav-w {
    text-align: center;
    line-height: 2.0;
    transition: all 0.5s ease;
}
.nav-w a{
    transition: all 0.4s ease;
}
.nav-w a:hover{
    color: #f4f0e8;
}
 /*smartphon*/
    @media screen and (min-width:340px) and (max-width:767px) {
        html{
            font-size: 14px;
        }

        .page_footer_info{
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }
        .main-logo{
            font-size: 2rem !important;
            margin-bottom: 10px;
        }
        .page_footer_info address p{
            font-size: 0.8rem;
        }
        #page_footer_nav{
            font-size: 1rem;
        }
        .nav-v{
            line-height: 2rem;
            margin-bottom: 5px;
        }

    }
/*tblet*/
    @media screen and (min-width:768px) and (max-width:1024px){
        .main-logo{
            font-size: 1rem;
        }
    }
    