body {
    background-color: rgb(255, 255, 255);
      overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Noto Serif JP", serif;
}
a {
    text-decoration: none;
    color: inherit;
}

/**********
header
**********/
#header-top{
    position: fixed;
}


/**********
page
**********/
#page{
    width: 100%;
    height: 500px;
    background-image: url(..//img/26757516_m.jpg);
    background-size: cover;
    background-position: center 24%;
    background-repeat: no-repeat;
}

.page_tatile{
    position: absolute;
    top: 10%;
    left: 5%;
}
.jp{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2rem;
}
.em{
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 2rem;
}
.description{
    font-size: 1.5rem;
    font-width: 700;
    letter-spacing: 1.5rem;
}

/**********
wave
**********/

.custom-shape-divider-bottom-1779276235 {
    position: absolute;
    top: 370px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1779276235 svg {
    position: relative;
    display: block;
    width: calc(164% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1779276235 .shape-fill {
    fill: #fff;
}

/**********
news_list
**********/
.news_list{
    width: 100%;
    margin: 0 auto;
}
.category{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    height: 100px;
    width: 100%;
    font-size: 1.5rem;
    z-index: 20;
}
.category a{
    position: relative;
}
.category a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #1f1f1f;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 0.5s ease;
}
.category a:hover::after{
    transform: scaleX(1);
}

.fresh_news{
    width: 90%;
    margin: 0 auto;
}
.news_box {
    width: 80%;
    margin: 120px auto;
}

/**********
news_pieces
**********/
.news_box{
    z-index: 20;
}
.news_box .news_pieces {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 30px;
    border-bottom: 2px dotted #1f1f1f;
    position: relative;
    align-items: center;
    transition: all 1.0s ease;
    z-index: 10;
}
.news_pieces::after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    position: absolute;
    background: linear-gradient(88deg, #f0c2221c, #ffcc191f 53%, #ffb03c40);
    opacity: 0;
    z-index: 0;
}
.news_pieces:hover::after{
    opacity: 1;
    z-index: 0;
}

.news_box .news_line{
    position: relative;
    z-index: 20;
}

.no_img{
    width: 250px;
    height: 150px;
    z-index: 20;
}

.news_box_img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 20;
}

.news_box_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 20;
}

.news_box_text {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    width: 70%;
    height: 100%;
    z-index: 20;
}

.created_at {
    font-size: 1.2rem;

}

.news_box_text p {
    width: 100%;
    font-size: 2rem;

}

.icon_arrow{
    transform: rotate(180deg);
    fill: #1f1f1f;
    transition: all 0.5s ease;
    transform: scale(0.5);
    z-index: 20;
}
.news_pieces:hover .icon_arrow{
    fill: cadetblue;
    transform: rotate(180deg) translateX(-10px);
}


.pagenation{
    text-align: center;
    font-size: 20px;
    margin-bottom: 120px;
}
.pagenation a{
    margin-left: 10px;
}


.edit{
    display: flex;
    justify-content: end;
    gap: 20px;
}


/* nav */
.nav{
    position: relative;
    width: 500px;
    height: 300px;
    z-index: 60;
}