* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--bg-color);
}



/*contact*/
.contact{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 20;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--box-bg-color);
    border: 1px solid var(--box-border-color);
    width: 70%;
    margin: -5vw auto 80px;
    padding: 40px;
    color: var(--text-color);
    z-index: 10;
}

.contact_explanation{
    margin-bottom: 100px;
    text-align: center;
    line-height: 4rem;
}

.form_item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
    gap: 60px;
}
.form_item::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid var(--box-border-color);
    bottom: -50%;
    transform: translateY(-50%);
    left: 0;
}
.form_item:last-of-type::after{
    display: none;
}
.form_item:first-of-type::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid var(--box-border-color);
    top: -50%;
    transform: translateY(-50%);
    left: 0;
}

.form_item label{
    width: 20%;
    text-align: left;

}
.form_item input,
.form_item textarea{
    border: 1px solid #999999;
    width: 80%;
    text-align: left;
    font-size: 1.5rem;
}
.form_item input{
    width: 80%;
    height: 40px;
}

/*contact_btn*/
.contact_btn{
    display: block;
    margin: 60px auto 30px;
    text-align: center;
    width: 20%;
    height: 50px;
    font-size: 1.2rem;
    background-color: var(--text-color);
    color: var(--box-bg-color);
    cursor: pointer;
    transition: all 0.5s ease;
}
.contact_btn:hover{
    background-color: #edecec;
    color: #434940;
}



/*smartphone*/
    @media screen and (min-width:340px) and (max-width:767px) {
        .contact{
            width: 95%;
            padding: 10px 20px;
            font-size: 1rem;
            position: static;
            top: auto;
            left: auto;
            transform: none;
            margin: 60px auto;
        }
        .contact_explanation{
            line-height: 2rem;
            margin-bottom: 50px;
        }
        .form_item{
            gap: 20px;
            margin-bottom: 30px;
        }
        .form_item label{
            font-size: 0.8em;
            width: 30%;
        }
        .form_item input{
            width: 70%;
            height: 20px;
        }
        .form_item textarea{
            height: 100px;
        }

        /*contact_btn*/
        .contact_btn{
            height: 20px;
            font-size: 0.8rem;
        }

        #page_footer{
            margin-bottom: 0;
        }

    }

/*tablet*/
@media screen and (min-width:768px) and (max-width:960px) {
    .contact{
        width: 95%;
        margin-top: -80px;
    }
}
