* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}
body{
    height: 0;
}

.thanks{
    width: 90%;
    margin: 150px auto;
    text-align: center;
    background-color: #f4f0e8;
}
.thanks h2{
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 10px;
    margin-bottom: 60px;
}
.thanks p{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 50px;
}


.thanks a{
    display: inline-block;
    position: relative;
    padding: 20px;
    color: #edecec;
    background-color: var(--text-color);
    color: var(--box-bg-color);
    border: #434940 solid 1px;
    margin-top: 60px;
    z-index: 20;
    transition: all 0.5s ease;
}
.thanks a:hover{
    background-color: #edecec;
    color: #434940;
    border: #434940 solid 1px;
}
