* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #2c241d;
    text-decoration: none;
}
:root{
    --bg-color: #f4f0e8;
    --text-color: #2c241d;
    --box-bg-color: #f9f7f5;
    --box-border-color: #cfc8c2;
    --price-color: rgb(195, 10, 10);
}

/**/
.plan_card{
    display: flex;
    align-items: center;
}
body{
    background-color: var(--bg-color) !important;
    font-family: "Noto Serif JP", serif;
}

/*reservation*/
.reservation{
    text-align: center;
    padding-top: 150px;
}
.re_ja{
    font-size: 3rem;
    margin-bottom: 20px;
}
.re_en{
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.re_text{
    font-size: 1.2rem;
    margin-bottom: 100px;
}

/*search*/
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 4.5rem;
    height: 150px;
    width: 90%;
    font-size: 1.5rem;
    border: #cfc8c2 1px solid;
    background-color: #f9f7f5;
    margin-bottom: 120px;
}
.search_group{
    display: flex;
    flex-direction: column;
}
.search input,
.search select{
    height: 50px;
    font-size: 1rem;
}

button,
.vertical_button{
    width: 150px;
    font-size: 1.2rem;
    background-color: #2c241d;
    color: #f4f0e8;
    padding: 10px;
    font-family: "Noto Serif JP", serif;
    cursor: pointer;
    transition: all 0.2s;
}
button:hover,
.vertical_button:hover{
    background-color: #493c32;
}
button:active,
.vertical_button:active{
    transform: translateY(4px);
    background-color: #1f1915;
}

/*plan*/
.plan{
    margin-bottom: 300px;
}
.plan_box{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 400px;
    width: 80%;
    background-color: #f9f7f5;
    border: 2px solid #cfc8c2;
    margin: 0 auto;
    padding: 0 30px;
    margin-bottom: 50px;
}
.plan_img{
    width: 30%;
}
.plan_img img{
    width: 100%;
}
.plan_name{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.plan_name::after{
    content: "";
    width: 1px;
    height: 90%;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: #cfc8c2;
    position: absolute;
}
.plan_title{
    font-size: 2rem;
    margin-bottom: 20px;
}

.plan_descriptin{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.available{
    font-size: 1.2rem;
    line-height: 30px;
}
.room_count,
.total_price{
    font-size: 2rem;
    color: rgb(195, 10, 10);
    margin: 0 20px;
}
.rest{
    margin-bottom: 50px;
}

.submit_box{
    display: flex;
    align-items: flex-end;
    width: 30%;
    position: relative;
}
.submit_box::after{
    content: "";
    width: 100%;
    height: 1px;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: #cfc8c2;
    position: absolute;
}

.plan_card{
    display: inline-block;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    background-color: #2c241d;
    color: #f4f0e8;
    font-family: "Noto Serif JP", serif;
    text-align: center;
    letter-spacing: 15px;
    cursor: pointer;
    padding: 0;
}



/*smartphone*/
    @media screen and (min-width:340px) and (max-width:767px) {
        .reservation{
            width: 90%;
            padding-top: 30px;
            margin: 0 auto 30px;
        }
        .re_ja{
            font-size: 1.8rem;
            margin-bottom: 10px;
        }
        .re_en{
            font-size: 1rem;
            margin-bottom: 20px;
        }
        .re_text{
            font-size: 1rem;
            margin-bottom: 30px;
        }
        /*search*/
        .search{
            width: 95%;
            height: 110px;
            gap: 1.5rem;
            font-size: 1rem;
            flex-wrap: wrap;
            margin-bottom: 60px;
        }
        .search input,
        .search select{
            height: 20px;
            font-size: 0.8rem;
        }
        button,
        .vertical_button{
            width: 70px;
            font-size: 1rem;
            padding: 3px;
        }

        /*plan*/
        .plan{
            margin-bottom: 150px;
        }
        .plan_all{
            width: 90%;
            margin: 0 auto;
        }
        .plan_box{
            flex-direction: column;
            width: 100%;
            padding: 10px 0 20px;
            height: auto;
            gap: 10px;
        }
        .plan_img{
            margin-bottom: 10px;
            width: 90%;
        }
        .plan_name{
            width: 90%;
            height: auto;
            text-align: center;
        }
        .plan_title{
            font-size: 1.2rem;
            margin-bottom: 5px;
        }
        .plan_descriptin{
            font-size: 0.7rem;
            margin-bottom: 10px;
        }
        .plan_text{
            display: none;
        }
        .plan_name::after{
            display: none;
        }

        .submit_box{
            width: 100%;
            flex-direction: column;
            font-size: 1rem;
        }
        .submit_box::after{
            display: none;
        }
        .submit_box p {
            margin-bottom: 20px;
        }
        .available{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1rem;
            line-height: 10px;
            padding: 0 20px;
            margin-bottom: 30px;
        }
        .room_count,
        .total_price{
            font-size: 1.3rem;
            margin: 10px;
        }

        .plan_card{
            width: 100px;
            height: 25px;
            font-size: 0.8rem;
            letter-spacing: 5px;
            margin: 0 auto;
        }

    }
    /*tablet*/
@media screen and (min-width:768px) and (max-width:1280px) {
    /*search*/
        .search{
            width: 95%;
            height: 110px;
            gap: 2rem;
            flex-wrap: wrap;
        }
        .search input,
        .search select{
            height: 30px;
        }
        button,
        .vertical_button{
            width: 100px;
            padding: 4px;
            margin-left: 20px;
        }

        .plan_box{
            width: 90%;
        }
        .plan_card{
            font-size: 1rem;
            width: 150px;
            letter-spacing: 5px;
        }


}