* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #2c241d;
    text-decoration: none;
}


/**/
.plan_card{
    display: flex;
    align-items: center;
}
body{
    background-color: #f4f0e8 !important;
    font-family: "Noto Serif JP", serif;
}