.thanks_message{
    width: 70%;
    font-size: 1.5rem;
    line-height: 50px;
    text-align: center;
    margin: 120px auto 120px;
    padding: 10px;
    border: 1px solid var(--box-border-color);
    background-color: #f2f1ec;
    border-radius: 10px;
}
.vertical_button{
    text-align: center;
}

@media screen and (min-width:340px) and (max-width:767px) {
    .contens_pieces_box{
        font-size: 1rem;
    }
    .contens_pieces_box .contens_label{
        width: 100%;
    }

    .thanks_message{
        width: 90%;
        font-size: 1rem;
        line-height: 1.5rem;
        margin: 50px auto;
    }

}